/* ParallaxMousemove.css */
.parallax-container {
    position: relative;
    width: 100%;
    height: 86vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.parallax-text {
    position: absolute;
    font-size: 1.2rem;
    color: black;
    /* font-weight: bold; */
    transition: transform 0.1s ease-in-out;
    border: '1px solid black';
    background-color: 'red';
}